body {
    background-color: #9ac9c6;
    margin-left: 64px;
    margin-right: 64px;
}
h1 {
    color: #4F9490;
    font-size: 60px;
}
h2 {
    color: #4F9490;
    font-size: 48px;
}
h3 {
    color: #4F9490;
    font-size: 32px;
}
h4 {
    color: #4F9490;
    font-size: 18px;
}
h5 {
    color: #4F9490;
}
h6 {
    color: #4F9490;
}
p {
    color: #315B59;
}
a:link{
    color: #349E99
}
a:visited {
    color: #757575
}
a:hover {
    color: #ce4f95
}
button {
    background-color: #349E99;
    color: #E8F7F7;
}
button:hover {
    background-color: #c46097;
    color: #E8F7F7;
}
section {
    background-color: #AFD4D2;
    border-style: double;
    border-width: 4px;
    border-color: #79B8B4;
}